body{
  background-color: #191816;
  background-image: url('images/side-image.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right ; 
  background-size: 500px;
}
p{
  text-align: center;
}
.itopo{
  color:white;
  display: flex;
}
button{
  color:rgb(0, 0, 0);
  background-color:  #ffc632;
  height: 40px;
  width: 250px;
  margin-top: 50px;
  margin-left: 80px;
  border: 2px solid  #ffc632;
  border-radius: 5px;
}
fieldset{
  border: none;
}
.i2{
  color: #ede6d0;
  margin-left: 50px;
  display: flex;
}
#email{
  background-color: black;
  color:white;
  background-image: url(images/mail.svg);
  background-repeat: no-repeat;
  height: 5px;
  width: 250px;
  padding: 12px;
  padding-left: 25px;
  margin-left: 45px;
  border: 2px solid rgb(250, 249, 246);
  border-radius: 5px;
}
#email:hover{
  border: 2px solid  #ffc632;
  transition: 1.7s;
  background-image: url(images/mail-focus.svg);
  background-repeat: no-repeat;
}
#senha{
  background-color: black;
  color:white;
  background-image: url(images/cadiadinho.svg);
  background-repeat: no-repeat;
  height: 5px;
  width: 250px;
  padding: 12px;
  padding-left: 25px;
  margin-left: 45px;
  border: 2px solid rgb(143, 143, 143);
  border-radius: 5px;
}
#senha:hover{
  border: 2px solid  #ffc632;
  background-image: url(images/cadiado-focus.svg), url(images/olinho.svg);
  background-repeat: no-repeat, no-repeat;
  background-position:left , right;
}
#checkbox{
  width: 20px;
  height: 20px;
  margin-left: 45px;
}

fieldset a{
  padding-left: 80px;
  color:  #ffc632;
}
a{
  color:  #ffc632;
}
img{
  margin-left: 30px;
}
.caixa1{
  color:#afb6c2;
  background-color:  #24221f;
  width: 70vh;
  padding: 25px;
  margin-top: 30px;
  margin-left: 150px;
  border-radius: 10px;
}