body{
    background-color: rgb(17, 10, 10);
}
img{
    width: 100px;
}
.icon{
    display: flex;
    text-align: center;
    
}
figure img{
    padding-left: 20px;
    width: 90px;
}
button{
    width: 100px;
    height: 30px;
    background-color: rgb(99, 95, 95);
    color:rgb(15, 211, 57);
   
}
button:hover{
    background-color: rgb(24, 133, 2);
    color: white;
}
.caixa01{
    text-align: center;
    justify-content: center;
    width: 45%;
    margin: 45px;
    padding: 0px;
    margin-left: 300px;
    color: white;
    background: black;
    border: 2px solid rgb(63, 56, 56);
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgb(133, 19, 19);
}
h1{
    text-align: center;
    border-bottom: 2px sollid rgb(133, 19, 19);;
}
.caixa02{
    width: 45%;
    margin: 30px;
    padding: 10px;
    margin-left: 300px;
    color: rgb(226, 87, 87);
    background: black;
    border: 2px solid rgb(63, 56, 56);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(133, 19, 19);
}
.caixa01:hover{
    box-shadow:  15px -15px 0 rgb(24, 133, 2),  -15px 15px 20px rgb(24, 133, 2);
    -webkit-transition : box-shadow ease-out 0.6s;
    transition : box-shadow ease-out 0.6s;  }

    .caixa02:hover{
        box-shadow:  15px -15px 0 rgb(24, 133, 2),  -15px 15px 20px rgb(24, 133, 2);
        -webkit-transition : box-shadow ease-out 0.6s;
        transition : box-shadow ease-out 0.6s;  }      
 